<div class="dsc-header">
  <div class="header-content">
    <div class="menu-hamburguer">
      <img class="icon" src="/assets/icon0.svg" />
      <div class="label-menu">Menu</div>
    </div>
    <div class="logo-caixa">
      <div class="dsc-logotipo">
        <img class="elements" src="/assets/elements0.svg" />
      </div>
    </div>
    <div class="divisor"></div>
    <div class="sigla">SICAS</div>
    <div class="nome-do-sistema">Central de Acessos e Serviços Internos</div>
  </div>
  <div class="classifica-o-de-conte-do">
    <div class="label">Conteúdo</div>
    <div class="tipo">#INTERNO.CAIXA</div>
  </div>
</div>
