.dsc-header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header-content {
  background: var(--dsc-color-bg-highlight-5);
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.menu-hamburguer {
  padding: var(--dsc-spacing-none) var(--dsc-spacing-quark) var(--dsc-spacing-none) var(--dsc-spacing-quark);
  display: flex;
  flex-direction: column;
  gap: var(--dsc-spacing-none);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 48px;
  min-width: 50px;
  max-height: 48px;
  position: relative;
  cursor: pointer;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label-menu {
  color: var(--dsc-color-content-neutral-1);
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 14px;
  line-height: 150%;
  font-weight: var(--dsc-font-weight-400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-caixa {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dsc-logotipo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.elements {
  flex-shrink: 0;
  width: 70.67px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.divisor {
  background: var(--dsc-color-bg-neutral-4);
  border-radius: 50px;
  flex-shrink: 0;
  width: 1px;
  height: 24px;
  position: relative;
}
.sigla {
  color: var(--dsc-color-content-neutral-1);
  text-align: left;
  font-family: var(--font-family-base);
  font-size: 24px;
  line-height: 140%;
  font-weight: var(--dsc-font-weight-600);
  position: relative;
}
.nome-do-sistema {
  color: var(--dsc-color-content-neutral-1);
  text-align: left;
  font-family: var(--font-family-base);
  font-size: 20px;
  line-height: 140%;
  font-weight: var(--dsc-font-weight-600);
  position: relative;
  flex: 1;
  height: 29px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.classifica-o-de-conte-do {
  background: var(--dsc-color-bg-highlight-6);
  padding: var(--dsc-spacing-none) var(--dsc-spacing-tiny) var(--dsc-spacing-none) var(--dsc-spacing-tiny);
  display: flex;
  flex-direction: row;
  gap: var(--dsc-spacing-nano);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--dsc-color-content-neutral-1);
  text-align: right;
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 150%;
  font-weight: var(--dsc-font-weight-600);
  position: relative;
  width: 77px;
  height: 24px;
}
.tipo {
  color: var(--dsc-color-content-neutral-1);
  text-align: left;
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 150%;
  font-weight: var(--dsc-font-weight-400);
  position: relative;
  flex: 1;
  height: 24px;
}
