<div class="tela-principal-desktop">
  <app-header></app-header>
  <div class="page">
    <div class="frame-66">
      <app-side-menu></app-side-menu>
    </div>
    <div class="content">
      <div class="main-column">
        <div class="meu-ambiente">
          <div class="meu-ambiente-minhas-rotinas">
            Meu Ambiente - minhas rotinas
          </div>
          <div class="frame-51">
            <div class="frame-8">
              <div class="frame-50">
                <app-rotina-card *ngFor="let rotina of rotinas().slice(0,4)" [rotina]="rotina"></app-rotina-card>
              </div>
            </div>
            <div class="frame-9">
              <div class="frame-50">
                <app-rotina-card *ngFor="let rotina of rotinas().slice(4,8)" [rotina]="rotina"></app-rotina-card>
              </div>
            </div>
            <div class="frame-81">
              <div class="dsc-button" (click)="openModal()">
                <div class="label-button">Acrescentar nova rotina</div>
              </div>
            </div>
          </div>
        </div>
        <app-acessos-recentes></app-acessos-recentes>
      </div>
      <app-footer></app-footer>
    </div>
    <div class="painel-direito">
      <app-favoritos-anotacoes></app-favoritos-anotacoes>
    </div>
  </div>
</div>

<app-adicionar-rotina-modal *ngIf="showModal" (close)="closeModal()"></app-adicionar-rotina-modal>
